@import 'variables.scss';

* {
    transition: all 0.3s ease-in-out;
}

body {
    background-color: $ninth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-button {
    background-color: transparent;
    height: 5px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $third;

    &:hover {
        background-color: $fourth;
    }

    &:active {
        background-color: $fifth;
    }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}