$first: rgba(0, 0, 0, 0.56);
$second: rgba(0, 0, 0, 0.2);
$third: rgb(60, 60, 60);
$fourth: rgb(75, 75, 75);
$fifth: rgb(104, 104, 104);
$sixth: #C8ACD6;
$seventh: #2E236C;
$eighth: #433D8B;
$ninth: #17153B;